%fieldset
  %legend
    = t('generic.new_model', :name => GameCategory.model_name.human)

  = render 'form'

.row
  .small-12.columns.small-offset-1
    = link_to t('back'), game_categories_path, :class => 'button radius small'

