%fieldset
  %legend
    = t('generic.edit_model', :name => GameComment.model_name.human)

  = render 'form'

.row
  .small-12.columns.small-offset-1
    = link_to t('show'), @game_comment, :class => 'button'
    = link_to t('back'), game_comments_path, :class => 'button'

