%p
  %b Name:
  = @house.name

.row
  .small-12.columns.small-offset-1
    = link_to t('edit'), edit_house_path(@house), :class => 'button radius small'
    = link_to t('back'), houses_path, :class => 'button radius small'

