%fieldset
  %legend
    = t('generic.edit_model', :name => GameLabel.model_name.human)

  = render 'form'

  .row
    .small-12.columns.small-offset-1
      = link_to t('show'), @game_label, :class => 'button'
      = link_to t('back'), game_labels_path, :class => 'button'

