- display_class = "rating_value_#{rating}"
- show_number ||= false

- rating.times do
  .rating_bar{:class => display_class}

- (10 - rating).times do
  .rating_bar.rating_empty

- if show_number
  .rating_number
    = rating

