%p
  %b
    = t('activerecord.attributes.city.name')
  = @city.name

.row
  .small-12.columns.small-offset-1
    = link_to t('edit'), edit_city_path(@city), :class => 'button radius small'
    = link_to t('back'), cities_path, :class => 'button radius small'

