/*
 * simple_form
 *
 */

.simple_form {
  .field_with_hint input{
    margin-bottom: 0;
  }

  .hint {
    display: block;
    padding: 0.375rem 0.5625rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background-color: #e3e3e3;
    color: #5d5d5d;
  }
}

/*
 * foundation 3d
 *
 */

.button {
  // box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#8add6d, #60b044);
}

fieldset {
  background: linear-gradient(#f5f5f5, #fff);
  // box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 5px -2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  legend {
    background-color: #000;
    color: #FFFFFF;
    padding: 0 15px;
    box-shadow: 3px 3px 3px #3d3d3d;
    border-radius: 5px;
  }
}

nav.top-bar {
  &:not(.expanded) {
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.5);
  }
}

footer {
  position: fixed;
  bottom: 0;
}

body {
  background-size: cover;
  background-repeat: repeat-y;
}

.fonticon {
  font-size: 1.6em;
  padding: 0 2px;
  vertical-align: middle;
}

// use this where expand does not apply
.wide {
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  max-width: initial;
}

/*
 * color alias
 *
 */

.red {
  color: red;
}

/* main page article gallery */
.article_gallery {
  a {
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index: 0;
    position: relative;
  }

  a:after {
    color: #777;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top: 15px;
  }

  a:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
  }

  img {
    display: block;
    width: inherit;
  }
}

/* rotations */

.rotate_4 {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  transform: rotate(4deg);
}

.rotate_8 {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
}

.rotate_12 {
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  transform: rotate(12deg);
}

.rotate_16 {
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  transform: rotate(16deg);
}

.rotate_20 {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  transform: rotate(20deg);
}

.rotate_24 {
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  transform: rotate(24deg);
}

.rotate_minus_4 {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.rotate_minus_8 {
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.rotate_minus_12 {
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  transform: rotate(-12deg);
}

.rotate_minus_16 {
  -webkit-transform: rotate(-16deg);
  -moz-transform: rotate(-16deg);
  transform: rotate(-16deg);
}

.rotate_minus_20 {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.rotate_minus_24 {
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  transform: rotate(-24deg);
}




