%p
  %b Name:
  = @article_category.name

.row
  .small-12.columns.small-offset-1
    = link_to t('edit'), edit_article_category_path(@article_category), :class => 'button radius small'
    = link_to t('back'), article_categories_path, :class => 'button radius small'

