- if notice.present?
  .row
    .callout.warning{'data-closable' => ''}
      %i.fi-alert
        = notice
      %button.close-button{'aria-label' => 'Dismiss alert', 'data-close' => ''}
        %span{'aria-hidden' => 'true'}
          &times;

- if alert.present?
  .row
    .callout.alert{'data-closable' => ''}
      %i.fi-x.red
        = alert
      %button.close-button{'aria-label' => 'Dismiss alert', 'data-close' => ''}
        %span{'aria-hidden' => 'true'}
          &times;

